.container {
  display: flex;
  flex-flow: row wrap;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.full-width {
  width: 100%;
}

.published {
  font-weight: bold;
}

.content {
  max-width: 400px;
  min-width: 0;
  margin-left: 10px;
  flex: none;
}

article .content:nth-of-type(1) {
  border-bottom: 1px solid red;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }
  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

figure {
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

@media screen and (max-width: 481px) {
  .flex-item:nth-of-type(2) {
    order: 1;
  }
  .flex-item:nth-of-type(1) {
    order: 2;
  }
  .description {
    display: none;
  }
}